{% extends "::base.html.twig" %}
{% block title %}48{% endblock %}
{% block navbar %}
{% render controller('VoIPUIBasicBundle:Company:nav', {'route': app.request.attributes.get('_route')}) %}
{% endblock navbar %}
{% block precontainer %}
<div class="row main-container">
	<div class="col-lg-2 col-md-3 col-sm-4 left-menu hidden-xs">
		<div class="logo-main-menu">
			<a href="{{ path('ui_company') }}"><img src="{{ asset('images/logo.png') }}" class="main-logo"></a>
		</div>
		{% render controller('VoIPUIBasicBundle:Company:menu', {'route': app.request.attributes.get('_route')}) %}
	</div>
	<div class="col-lg-offset-2 col-md-offset-3 col-sm-offset-4 col-lg-10 col-md-9 col-sm-8">
		{% block header %}
		<div class="page-header hidden-xs">
			<h1 class="title-back">
				{% if app.request.attributes.get('_route') != 'ui_company' %}<a class="glyphicon glyphicon-chevron-left pull-left" href="{{ path('ui_company') }}"></a>{% endif %}
				{{ block('headertitle') }}
				<a class="pull-right nav-logout" href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span> Logout</a>
			</h1>
		</div>
		{% endblock header %}
		{% block container %}{% endblock container %}
	</div>
</div>
{% endblock precontainer %}