{% extends "::base.html.twig" %}
{% block title %}48{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default visible-xs" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">{{ block('headertitle') }}</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
						<li class="divider"></li>
						<li><a href="#">One more separated link</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Link</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
{% endblock navbar %}
{% block precontainer %}
<div class="row main-container">
	<div class="col-lg-2 col-md-3 col-sm-4 left-menu hidden-xs">
		<div class="logo-main-menu">
			<a href="{{ path('ui_company') }}"><img src="{{ asset('images/logo.png') }}" class="main-logo"></a>
		</div>
		{% render controller('VoIPUIBasicBundle:Company:menu', {'route': app.request.attributes.get('_route')}) %}
	</div>
	<div class="col-lg-offset-2 col-md-offset-3 col-sm-offset-4 col-lg-10 col-md-9 col-sm-8">
		{% block header %}
		<div class="page-header hidden-xs">
			<h1 class="title-back">
				<a class="glyphicon glyphicon-chevron-left pull-left" href="{{ path('ui_company') }}"></a>
				{{ block('headertitle') }}
				<a class="pull-right nav-logout" href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span> Logout</a>
			</h1>
		</div>
		{% endblock header %}
		{% block container %}{% endblock container %}
	</div>
</div>
{% endblock precontainer %}