<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}48 | Admin{% endblock %}</title>
        {% block stylesheets %}
		<meta name="robots" content="noindex, nofollow">
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" charset="utf-8" />
		<link rel="stylesheet" href="{{ asset('css/admin.css') }}" type="text/css" charset="utf-8" />
		{% endblock %}
    </head>
    <body>
        {% block body %}
		{% block navbar %}
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ path('admin') }}">Admin</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="{{ app.request.attributes.get('_route') == 'admin_clients' ? 'active'}}"><a href="{{ path('admin_clients') }}">Clients</a></li>
						<li class="{{ app.request.attributes.get('_route') == 'admin_companies' ? 'active'}}"><a href="{{ path('admin_companies') }}">Companies</a></li>
						<li class="{{ app.request.attributes.get('_route') == 'admin_network' ? 'active'}}"><a href="{{ path('admin_network') }}">Network</a></li>
						<li class="{{ app.request.attributes.get('_route') == 'admin_requests' ? 'active'}}"><a href="{{ path('admin_requests') }}">Requests</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Lines <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{ path('rates') }}">Rates</a></li>
								<li><a href="{{ path('rate_csv') }}">Upload</a></li>
							</ul>
						</li>
					</ul>
					{#
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Link</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</li>
					</ul>
					#}
				</div>
			</div>
		</nav>
		{% endblock navbar %}
		<div class="container">
			{% block container %}{% endblock container %}
		</div>
		{% endblock %}
		{% block modal %}<div id="modal" class="modal fade"></div>{% endblock modal %}
        {% block javascripts %}
		<script src="{{ asset('js/jquery-2.1.0.min.js') }}"></script>
		<script src="{{ asset('js/angular.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		{% endblock %}
    </body>
</html>
