<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}48{% endblock %}</title>
        {% block stylesheets %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" charset="utf-8" />
		<link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css" charset="utf-8" />
		<link href='https://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'>
		{% endblock %}
    </head>
    <body>
        {% block body %}
		{% block navbar %}{% endblock navbar %}
		{% block precontainer %}<div class="container">{% block container %}{% endblock container %}</div>{% endblock precontainer %}
		{% block footer %}{% endblock footer %}
		{% endblock %}
		{% block modal %}<div id="modal" class="modal fade"></div>{% endblock modal %}
        {% block javascripts %}
		<script src="{{ asset('js/jquery-2.1.0.min.js') }}"></script>
		<script src="{{ asset('js/angular.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script>
		$('.l-mod').click(function(){
			$.ajax({
				'url': $(this).data('url'),
				'type': 'GET',
				'success': function(data){
					$('#modal').html(data);
					$('#modal').modal();
				}
			});
			return false;
		});
		$('.tooltip-flag').tooltip();
		</script>
		{% endblock %}
    </body>
</html>
