{% extends '::base.html.twig' %}
{% block body %}

<a href="{{ path('outline_new') }}">New</a>
<table class="table table-condensed table-hover">
	<tr>
		<th>Created at</th>
		<th>Hash</th>
		<th>Username</th>
		<th>Secret</th>
		<th>Host</th>
		<th colspan="2">Countries</th>
		<th>Actions</th>
	</tr>
	{% for outline in outlines %}
	<tr>
		<td>{{ outline.createdat|date('d/m/Y') }}</td>
		<td>{{ outline.hash }}</td>
		<td>{{ outline.username }}</td>
		<td>{{ outline.secret }}</td>
		<td>{{ outline.host }}</td>
		<td>{{ outline.countries|length }}</td>
		<td>
			{% for country in outline.countries %}
			{{ country.name }}{% if not loop.last %}<br>{% endif %}
			{% endfor %}
		</td>
		<td>
			<a href="{{ path('outline_edit', {'id': outline.id}) }}">edit</a>
			<a href="{{ path('outline_countries', {'id': outline.id}) }}">countries</a>
		</td>
	</tr>
	{% endfor %}
</table>
<table class="table table-condensed table-hover">
	<tr>
		<th>Name</th>
		<th>Out Line</th>
	</tr>
	{% for country in countries %}
	<tr>
		<td>{{ country.name }}</td>
		<td>
			{% if country.outline %}
			<span class="glyphicon glyphicon-ok"></span> {{ country.outline.hash }}
			{% else %}
			<span class="glyphicon glyphicon-remove"></span>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
