{% extends '::admin.html.twig' %}
{% block container %}

<a href="{{ path('outline_new') }}">New</a>
<table class="table table-condensed table-hover">
	<tr>
		<th>Created at</th>
		<th>Name</th>
		<th>Hash</th>
		<th>Username</th>
		<th>Secret</th>
		<th>Host</th>
		<th colspan="2">Rates</th>
		<th colspan="2">Groups</th>
		<th>Public</th>
		<th>Precision</th>
		<th>SN</th>
		<th>Actions</th>
	</tr>
	{% for outline in outlines %}
	<tr>
		<td>{{ outline.createdat|date('d/m/Y') }}</td>
		<td>{{ outline.name }}</td>
		<td>{{ outline.hash }}</td>
		<td>{{ outline.username }}</td>
		<td>{{ outline.secret }}</td>
		<td>{{ outline.host }}</td>
		<td>{{ outline.rates|length }}</td>
		<td>
			{% if outline.rates|length < 10 %}
			{% for rate in outline.rates %}
			{{ rate.name }} (+{{ rate.prefix }}){% if not loop.last %}<br>{% endif %}
			{% endfor %}
			{% endif %}
		</td>
		<td>{{ outline.outgroups|length }}</td>
		<td>
			{% for outgroup in outline.outgroups %}
			<a href="{{ path('outgroup_edit', {'id': outgroup.id}) }}">{{ outgroup.hash }}</a>{% if not loop.last %}<br>{% endif %}
			{% endfor %}
		</td>
		<td>{% if outline.ispublic %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
		<td>{{ outline.precision }}</td>
		<td>{% if outline.shownumber %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
		<td>
			<a href="{{ path('outline_edit', {'id': outline.id}) }}">edit</a>
			<a href="{{ path('outline_rates', {'id': outline.id}) }}">rates</a>
		</td>
	</tr>
	{% endfor %}
</table>
{# 
<table class="table table-condensed table-hover">
	<tr>
		<th rowspan="2">Name</th>
		<th colspan="2">Rates</th>
		<th rowspan="2">Code</th>
		<th rowspan="2">Prefix</th>
		<th rowspan="2">Precision</th>
		<th rowspan="2">Out Line</th>
	</tr>
	<tr>
		<th>IN</th>
		<th>OUT</th>
	</tr>
	{% for rate in rates %}
	<tr>
		<td>{{ rate.name }}</td>
		<td>{{ rate.ratein }}</td>
		<td>{{ rate.rate }}</td>
		<td>{{ rate.code }}</td>
		<td>{{ rate.prefix }}</td>
		<td>{{ rate.precision }}</td>
		<td>
			{% if rate.outline %}
			<span class="glyphicon glyphicon-ok"></span> {{ rate.outline.hash }}
			{% else %}
			<span class="glyphicon glyphicon-remove"></span>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
 #}
{% endblock %}
