{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Extension list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Context</th>
                <th>Exten</th>
                <th>Priority</th>
                <th>App</th>
                <th>Appdata</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('extension_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.context }}</td>
                <td>{{ entity.exten }}</td>
                <td>{{ entity.priority }}</td>
                <td>{{ entity.app }}</td>
                <td>{{ entity.appdata }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('extension_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('extension_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('extension_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
