{% extends "VoIPUIBasicBundle::layout.html.twig" %}
{% block title %}48 | Edit your subscription{% endblock %}
{% block container %}
<div class="page-header">
	<h1 class="title-back"><a class="glyphicon glyphicon-chevron-left pull-left" href="{{ path('ui_company') }}"></a> Edit your subscription</h1>
</div>
<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<form class="form-horizontal" role="form" action="{{ path('ui_subscription_edit', {'hash': subscription.hash}) }}" method="POST">
			<div class="form-group">
				<label for="type" class="col-sm-2 control-label">Type</label>
				<div class="col-sm-10">
					<select type="text" class="form-control" id="type" name="type" required>
						<option value="hoiio" {% if subscription.type == 'hoiio' %}selected="selected"{% endif %}>Hoiio.com</option>
						<option value="spa3102" {% if subscription.type == 'spa3102' %}>SPA 3102</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="number" class="col-sm-2 control-label">Number</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="number" name="number" placeholder="+6512344321" value="{{ subscription.number }}" required>
				</div>
			</div>
			<div class="form-group">
				<label for="username" class="col-sm-2 control-label">Username</label>
				<div class="col-sm-10">
					<input class="form-control" id="username" name="username" value="{{ subscription.username }}" required>
				</div>
			</div>
			<div class="form-group">
				<label for="secret" class="col-sm-2 control-label">Secret</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="secret" name="secret" value="{{ subscription.secret }}" required>
				</div>
			</div>
			<div class="form-group">
				<label for="prefix" class="col-sm-2 control-label">Prefix</label>
				<div class="col-sm-10">
					<select class="form-control" id="type" name="prefix" required>
						{% for prefix in prefixs %}
						<option value="{{ prefix }}" {% if subscription.prefix == prefix %}selected{% endif %}>{{ prefix }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
					<a href="{{ path('ui_company', {'hash': subscription.company.hash}) }}" class="btn btn-default btn-block">Cancel</a>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock container %}
