{% extends "VoIPUIBasicBundle::layout.html.twig" %}
{% block title %}48 | New Phone Number{% endblock %}
{% block headertitle %}New Phone Number{% endblock headertitle %}
{% block container %}
{{ parent() }}
<div class="row form-new">
	<div class="col-md-offset-3 col-md-6">
		<form class="form-horizontal" role="form" action="{{ path('ui_subscription_new') }}" method="POST" autocomplete="off">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="name" name="name" autocomplete="off" required>
				</div>
			</div>
			<div class="form-group">
				<label for="number" class="col-sm-2 control-label">Number</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="number" name="number" autocomplete="off" required>
				</div>
			</div>
			<div class="form-group">
				<label for="countries" class="col-sm-2 control-label">Countries</label>
				<div class="col-sm-10">
					<select class="form-control" id="countries" name="countries[]" multiple>
						{% for country in countries %}<option value="{{ country.id }}">{{ country.name }} (+{{ country.callCode }})</option>{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="employees" class="col-sm-2 control-label">Buddies</label>
				<div class="col-sm-10">
					<select class="form-control" id="employees" name="employees[]" multiple>
						{% for employee in employees %}<option value="{{ employee.id }}">{{ employee.name }}</option>{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-danger btn-block btn-lg">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock container %}
