<h2 class="title-switchboard">
	<a class="pull-right btn btn-danger" href="{{ path('ui_subscription_new') }}">New number</a>
	{{ company.subscriptions | length }} Numbers
</h2>
{% for subscription in company.subscriptions %}
<div class="switchboard-card switchboard-subscription {% for employee in subscription.employees %} emp{{ employee.hash }} {% for phone in employee.phones %} pho{{ phone.hash }}{% endfor %}{% endfor %}" data-hash="{{ subscription.hash }}">
	<div class="contentbox">
		<div>
			{{ subscription.name }} ({{ subscription.did }}) {% if subscription.voicemail %}<span class="glyphicon glyphicon-envelope"></span>{% endif %}
		</div>
		<div>
			{% for employee in subscription.employees %}
			<img src="{{ employee.thumburl ? employee.thumburl : 'https://s3-ap-southeast-1.amazonaws.com/fortyeight/buddies/images/7ee05724_64.png' }}" class="img-circle tooltip-flag" width="30" data-toggle="tooltip" data-placement="bottom" title="{{ employee.name }} ({{ employee.extension }})">
			{% endfor %}
		</div>
	</div>
	<div class="toolbox">
		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				<a href="{{ path('ui_subscription_buddies', {'hash': subscription.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Buddies" class="tooltip-flag btn btn-default"><span class="glyphicon glyphicon-user"></span></a>

				
			</div>
			<div class="btn-group">
				<a href="{{ path('ui_subscription_countries', {'hash': subscription.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Countries" class="tooltip-flag btn btn-default"><span class="glyphicon glyphicon-map-marker"></span></a>
			</div>
			<div class="btn-group">
				<a href="{{ path('ui_subscription_voicemail', {'hash': subscription.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Voicemail" class="tooltip-flag btn btn-default"><span class="glyphicon glyphicon-envelope"></span></a>
			</div>
			
		</div>
	</div>
	<div class="status status-default tooltip-flag" data-toggle="tooltip" data-placement="bottom" title="Connected"></div>
</div>
{% else %}
<div class="alert alert-warning alert-first"><a href="{{ path('ui_company_newrequestnumber') }}" class="alert-link">Add your first number</a></div>
{% endfor %}