{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SipReg list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Peer</th>
                <th>Transport</th>
                <th>User</th>
                <th>Domain</th>
                <th>Secret</th>
                <th>Authuser</th>
                <th>Host</th>
                <th>Port</th>
                <th>Extension</th>
                <th>Expiry</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sipreg_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.peer }}</td>
                <td>{{ entity.transport }}</td>
                <td>{{ entity.user }}</td>
                <td>{{ entity.domain }}</td>
                <td>{{ entity.secret }}</td>
                <td>{{ entity.authuser }}</td>
                <td>{{ entity.host }}</td>
                <td>{{ entity.port }}</td>
                <td>{{ entity.extension }}</td>
                <td>{{ entity.expiry }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sipreg_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('sipreg_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sipreg_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
