{% extends "VoIPUIBasicBundle::layout.html.twig" %}
{% block title %}48 | {{ company.name }}{% endblock %}
{% block headertitle %}Call details{% endblock headertitle %}
{% block container %}
<form class="form-inline" role="form" action="{{ path('ui_company_bill') }}" method="GET">
	<div class="form-group">
		<label class="sr-only" for="month">Month</label>
		<select class="form-control" name="p" id="month">
			{% for m in months %}
			<option value="{{ m.value }}" {% if month == m.value %}selected{% endif %}>{{ m.name }}</option>
			{% endfor %}
		</select>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
{% if not complete %}
<div class="alert alert-warning">The bill of the current month will not be definitive and complete until the end of the month.</div>
{% endif %}
<table class="table table-hover">
	<tr>
		<td>Communication</td>
		<td>{{ communication|number_format(3, '.', ',') }}</td>
	</tr>
	<tr>
		<td>Buddies</td>
		<td>{{ employees|number_format(3, '.', ',') }}</td>
	</tr>
	<tr>
		<td>Numbers</td>
		<td>{{ subscriptions|number_format(3, '.', ',') }}</td>
	</tr>
	<tr>
		<th>Total paid</th>
		<th>{{ total|number_format(2, '.', ',') }}</th>
	</tr>
</table>
{% endblock container %}