{% extends "VoIPUIBasicBundle::layout.html.twig" %}
{% block title %}48 | {{ company.name }}{% endblock %}
{% block headertitle %}Call details{% endblock headertitle %}
{% block container %}
{{ parent() }}
<table class="table table-hover">
	<tr>
		<th></th>
		<th>Date</th>
		<th>Dialer</th>
		<th>Receiver</th>
		{# <th>Price 1st min.</th> #}
		{# <th>Rate sec.</th> #}
		<th>Time</th>
		{# <th>Price</th> #}
	</tr>
	{% for cdr in cdrs %}
	<tr>
		<td>
			{% if cdr.type == 'ii' %}
			<span class="glyphicon glyphicon-arrow-right blue"></span>
			{% elseif cdr.type == 'io' %}
			<span class="glyphicon glyphicon-arrow-up red"></span>
			{% else %}
			<span class="glyphicon glyphicon-arrow-down green"></span>
			{% endif %}
		</td>
		<td>{{ cdr.end|date('d/m/Y H:i:s') }}</td>
		<td>{{ cdr.dialerphone ? cdr.dialerphone.phonename : cdr.dialer }}</td>
		<td>{{ cdr.receiveremployee ? cdr.receiveremployee.name : cdr.receiver }}</td>
		{# <td>$ {{ cdr.rate|number_format(3, '.', ',') }} / min</td> #}
		{# <td>$ {{ (cdr.rate/60)|number_format(5, '.', ',') }} / sec</td> #}
		<td>{{ cdr.writtentime }}</td>
		{# <td>$ {{ cdr.price|number_format(5, '.', ',') }}</td> #}
	</tr>
	{% endfor %}
</table>
<ul class="pager">
  {% if page != 1 %}<li class="previous"><a href="{{ path('ui_company_cdr', {'page': page - 1}) }}">&larr; Newer</a></li>{% endif %}
  {% if cdrs|length == 20 %}<li class="next"><a href="{{ path('ui_company_cdr', {'page': page + 1}) }}">Older &rarr;</a></li>{% endif %}
</ul>
{% endblock container %}