{% extends "VoIPUIBasicBundle::layout.html.twig" %}
{% block title %}48 | {{ company.name }}{% endblock %}
{% block container %}
<table class="table table-hover">
	<tr>
		<th>Date</th>
		<th>Start</th>
		<th>Answer</th>
		<th>End</th>
		<th>Dialer</th>
		<th>Receiver</th>
		<th>Rate</th>
		<th>Price</th>
	</tr>
	{% for cdr in cdrs %}
	<tr>
		<td>{{ cdr.start|date('d/m/Y') }}</td>
		<td>{{ cdr.start|date('H:i:s') }}</td>
		<td>{{ cdr.answer ? cdr.answer|date('H:i:s') }}</td>
		<td>{{ cdr.end|date('H:i:s') }}</td>
		<td>{{ cdr.channel }}</td>
		<td>{{ cdr.dstchannel }}</td>
		<td>S$ {{ cdr.rate|number_format(2, '.', ',') }} / min</td>
		<td>S$ {{ cdr.price }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock container %}