{% extends "VoIPUIBasicBundle::layout.html.twig" %}
{% block title %}48 | {{ company.name }}{% endblock %}
{% block container %}
<div class="page-header">
	<h1>Example page header <small>S$ {{ company.credit|number_format(2, '.', ',') }}</small></h1>
</div>
<div class="row">
	
	<div class="col-md-4">
		<center class="subsection-icon">+65</center>
		<center><a href="{{ path('ui_company_newsubscription') }}">Add a subscription</a></center>
		{% for subscription in company.subscriptions if subscription.isactive %}
		<div class="switchboard-card switchboard-subscription {% for employee in subscription.employees %} emp{{ employee.hash }} {% for phone in employee.phones %} pho{{ phone.hash }}{% endfor %}{% endfor %}" data-hash="{{ subscription.hash }}">
			<div>
				Subscription {{ subscription.name }}
			</div>
			<div>
				{{ subscription.number }}
			</div>
			<div class="until">
				{{ subscription.activateduntil ? subscription.activateduntil|date('d/m/Y') }} <a href="{{ path('ui_subscription_renew', {'hash': subscription.hash}) }}" class="tooltip-flag" data-toggle="tooltip" data-placement="bottom" title="Renew"><span class="glyphicon glyphicon-refresh"></span></a>
			</div>
			<div class="tools">
				<a href="{{ path('ui_subscription_edit', {'hash': subscription.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Edit	" class="tooltip-flag"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="{{ path('ui_subscription_delete', {'hash': subscription.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Delete" class="tooltip-flag"><span class="glyphicon glyphicon-trash"></span></a>
			</div>
			<div class="status status-{{ subscription.status }} tooltip-flag" data-toggle="tooltip" data-placement="bottom" title="Connected"></div>
		</div>
		{% endfor %}
	</div>
	
	
	<div class="col-md-4">
		<center class="subsection-icon"><span class="glyphicon glyphicon-user"></span></center>
		<center><a href="{{ path('ui_company_newemployee') }}">Add a buddy</a></center>
		{% for employee in company.employees if employee.isactive %}
		<div class="switchboard-card switchboard-buddy
		{% for subscription in employee.subscriptions %} sub{{ subscription.hash }}{% endfor %}
		{% for phone in employee.phones %} pho{{ phone.hash }}{% endfor %}" data-hash="{{ employee.hash }}">
			<div>
				{{ employee.name }}
			</div>
			<div>
				{{ employee.extension }}
			</div>
			<div class="tools">
				<a href="{{ path('ui_employee_edit', {'hash': employee.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Edit" class="tooltip-flag"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="{{ path('ui_employee_delete', {'hash': employee.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Delete" class="tooltip-flag"><span class="glyphicon glyphicon-trash"></span></a>
			</div>
			<div class="status status-{{ employee.status }} tooltip-flag" data-toggle="tooltip" data-placement="bottom" title="Connected"></div>
		</div>
		{% endfor %}
	</div>
	<div class="col-md-4">
		<center class="subsection-icon"><span class="glyphicon glyphicon-phone-alt"></span></center>
		<center><a href="{{ path('ui_company_newphone') }}">Add a phone</a></center>
		{% for phone in company.phones if phone.isactive %}
		<div class="switchboard-card switchboard-phone
		{% for employee in phone.employees %}emp{{ employee.hash }} {% for subscription in employee.subscriptions %} sub{{ subscription.hash }}{% endfor %}{% endfor %}" data-hash="{{ phone.hash }}">
			<div>
				{{ phone.name }}
			</div>
			<div class="until">
				{{ phone.activateduntil ? phone.activateduntil|date('d/m/Y') }} <a href="{{ path('ui_phone_renew', {'hash': phone.hash}) }}" class="tooltip-flag" data-toggle="tooltip" data-placement="bottom" title="Renew"><span class="glyphicon glyphicon-refresh"></span></a>
			</div>
			<div class="tools">
				<a href="{{ path('ui_phone_edit', {'hash': phone.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Edit" class="tooltip-flag"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="{{ path('ui_phone_delete', {'hash': phone.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Delete" class="tooltip-flag"><span class="glyphicon glyphicon-trash"></span></a>
				{% if phone.type == 'ciscophone' %}<a href="{{ path('ui_phone_configure', {'hash': phone.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Configure" class="tooltip-flag"><span class="glyphicon glyphicon-wrench"></span></a>{% endif %}
				<a href="#" class="l-mod tooltip-flag" data-url="{{ path('ui_phone_credentials', {'hash': phone.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Credentials"><span class="glyphicon glyphicon-lock"></span></a>
			</div>
			<div class="status status-{{ phone.amistatusok ? 'default' : 'danger' }} tooltip-flag" data-toggle="tooltip" data-placement="bottom" title="status status-{{ phone.amistatusok ? 'Connected' : 'Not connected' }}"></div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock container %}
{% block javascripts %}
{{ parent() }}
<script>
$('.switchboard-subscription').mouseover(function(){
	$('.sub'+$(this).data('hash')).addClass('active');
});
$('.switchboard-subscription').mouseout(function(){
	$('.sub'+$(this).data('hash')).removeClass('active');
});
$('.switchboard-buddy').mouseover(function(){
	$('.emp'+$(this).data('hash')).addClass('active');
});
$('.switchboard-buddy').mouseout(function(){
	$('.emp'+$(this).data('hash')).removeClass('active');
});
$('.switchboard-phone').mouseover(function(){
	$('.pho'+$(this).data('hash')).addClass('active');
});
$('.switchboard-phone').mouseout(function(){
	$('.pho'+$(this).data('hash')).removeClass('active');
});
</script>
{% endblock %}