{% extends "VoIPUIBasicBundle::layout.html.twig" %}
{% if app.user.company %}{% set company = app.user.company %}{% endif %}
{% block title %}48 | {{ company.name }}{% endblock %}
{% block headertitle %}Switchboard{% endblock headertitle %}
{% block container %}
{{ parent() }}
{% if not ip %}
<div class="alert alert-danger alert-dismissable alert-help flash-notice">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	Your IP is not in the network. <a href="{{ path('ui_company_dynamic') }}">Add your IP.</a>
</div>
{% endif %}
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-4">
		{{ include('VoIPUIBasicBundle:Employee:resume.html.twig') }}
	</div>
	<div class="col-sm-12 col-md-12 col-lg-4">
		{{ include('VoIPUIBasicBundle:Phone:resume.html.twig') }}
	</div>
	<div class="col-sm-12 col-md-12 col-lg-4">
		{{ include('VoIPUIBasicBundle:Subscription:resume.html.twig') }}
	</div>
</div>
{% endblock container %}
{% block javascripts %}
{{ parent() }}
<script>
$('.switchboard-subscription').mouseover(function(){
	$('.sub'+$(this).data('hash')).addClass('active');
});
$('.switchboard-subscription').mouseout(function(){
	$('.sub'+$(this).data('hash')).removeClass('active');
});
$('.switchboard-buddy').mouseover(function(){
	$('.emp'+$(this).data('hash')).addClass('active');
});
$('.switchboard-buddy').mouseout(function(){
	$('.emp'+$(this).data('hash')).removeClass('active');
});
$('.switchboard-phone').mouseover(function(){
	$('.pho'+$(this).data('hash')).addClass('active');
});
$('.switchboard-phone').mouseout(function(){
	$('.pho'+$(this).data('hash')).removeClass('active');
});
$('.switchboard-card').click(function(){
	if ($(this).hasClass('config')) $(this).removeClass('config');
	else {
		$('.switchboard-card.config').removeClass('config')
		$(this).addClass('config')
	}
});
</script>
{% endblock %}