{% extends "::base.html.twig" %}
{% block container %}
<div class="page-header">
	<h1>{{ company.name }} <small>{{ company.hash }}</small></h1>
</div>
<ul>
	{% for office in company.offices %}
	<li>
		{{ office.name}}
		<ul>
			{% for phone in office.phones %}
			<li>{{ phone.extension }} ({{ phone.name }})</li>
			{% endfor %}
			<li><a href="{{ path('ui_office_newphone', {'hash': office.hash}) }}">New phone to {{ office.name }}</a></li>
		</ul>
	</li>
	{% endfor %}
	<li><a href="{{ path('ui_company_newoffice', {'hash': company.hash}) }}">New office</a></li>
</ul>
{% endblock container %}