{% extends "VoIPUIBasicBundle::layout.html.twig" %}
{% block title %}48 | {{ company.name }}{% endblock %}
{% block container %}

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Realtime</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>	
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right"><a href="{{ path('ui_company_newphone', {'hash': company.hash}) }}"><span class="glyphicon glyphicon-plus"></span></a></div>
				<h3 class="panel-title">
					Phones
				</h3>
			</div>
			<table class="table">
				<tr>
					<th>Phone</th>
					<th>Type</th>
					<th></th>
					<th>Employee</th>
					<th></th>				
				</tr>
				{% for phone in company.phones %}
				<tr>
					<td>{{ phone.name }}</td>
					<td>{{ phone.type|humanize }}</td>
					<td>
						<a href="{{ path('ui_phone_edit', {'hash': phone.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Edit" class="tooltip-flag"><span class="glyphicon glyphicon-pencil"></span></a>
						<a href="{{ path('ui_phone_delete', {'hash': phone.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Delete" class="tooltip-flag"><span class="glyphicon glyphicon-trash"></span></a>
						{% if phone.type == 'ciscophone' %}<a href="{{ path('ui_phone_configure', {'hash': phone.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Configure" class="tooltip-flag"><span class="glyphicon glyphicon-wrench"></span></a>{% endif %}
						<a href="#" class="l-mod tooltip-flag" data-url="{{ path('ui_phone_credentials', {'hash': phone.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Credentials"><span class="glyphicon glyphicon-lock"></span></a>
					</td>
					<td>{% if phone.employee %}{{ phone.employee.name }} ({{ phone.employee.extension }}){% endif %}</td>
					<td>
						<div class="dropdown">
							<span class="glyphicon glyphicon-link dropdown-toggle tooltip-flag" data-toggle="dropdown" data-toggle="tooltip" data-placement="bottom" title="Change user"></span>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu{{ phone.hash }}">
								{% for employee in company.employees %}
								<li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('ui_phone_attribute', {'hash': phone.hash, 'hash2': employee.hash}) }}">{{ employee.name }} ({{ employee.extension }})</a></li>
								{% endfor %}
								{% if phone.employee %}
								<li role="presentation" class="divider"></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('ui_phone_unattribute', {'hash': phone.hash,}) }}">Unattribute</a></li>
								{% endif %}
							</ul>
						</div>
					</td>
				</tr>
				{% endfor %}
			</table>
			
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right"><a href="{{ path('ui_company_newemployee', {'hash': company.hash}) }}"><span class="glyphicon glyphicon-plus"></span></a></div>
				<h3 class="panel-title">Employees</h3>
			</div>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Ext.</th>
					<th></th>
					<th>Phone</th>
					<th></th>
				</tr>
				{% for employee in company.employees %}
				<tr>
					<td>{{ employee.name }}</td>
					<td>{{ employee.extension }}</td>
					<td>
						<a href="{{ path('ui_employee_edit', {'hash': employee.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Edit" class="tooltip-flag"><span class="glyphicon glyphicon-pencil"></span></a>
						<a href="{{ path('ui_employee_delete', {'hash': employee.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Delete" class="tooltip-flag"><span class="glyphicon glyphicon-trash"></span></a>
					</td>
					<td>{% if employee.phone %}{{ employee.phone.name }}{% endif %}</td>
					<td>
						<div class="dropdown">
							<span class="glyphicon glyphicon-link dropdown-toggle tooltip-flag" data-toggle="dropdown" data-toggle="tooltip" data-placement="bottom" title="Change phone"></span>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu{{ employee.hash }}">
								{% for phone in company.phones %}
								<li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('ui_phone_attribute', {'hash': phone.hash, 'hash2': employee.hash}) }}">{{ phone.name }}</a></li>
								{% endfor %}
								{% if employee.phone %}
								<li role="presentation" class="divider"></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('ui_phone_unattribute', {'hash': employee.phone.hash,}) }}">Unattribute</a></li>
								{% endif %}
							</ul>
						</div>
					</td>
				</tr>
				{% endfor %}
			</table>
			
		</div>	
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right"><a href="{{ path('ui_company_newsubscription', {'hash': company.hash}) }}"><span class="glyphicon glyphicon-plus"></span></a></div>
				<h3 class="panel-title">Subscription</h3>
			</div>
			<table class="table">
				<tr>
					<th>Name</th>
					<th></th>
					<th>Extensions to call</th>
				</tr>
				{% for subscription in company.subscriptions %}
				<tr>
					<td>{{ subscription.name }}</td>
					<td>
						<a href="{{ path('ui_subscription_edit', {'hash': subscription.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Edit	" class="tooltip-flag"><span class="glyphicon glyphicon-pencil"></span></a>
						<a href="{{ path('ui_subscription_delete', {'hash': subscription.hash}) }}" data-toggle="tooltip" data-placement="bottom" title="Delete" class="tooltip-flag"><span class="glyphicon glyphicon-trash"></span></a>
					</td>
					<td>
						{% for employee in subscription.employees %}
						{{ employee.name }} ({{ employee.extension }}) {% if employee.phone %}<span class="label label-success">connected</span>{% endif %}<br>
						{% else %}
						<span class="label label-danger">no employee</span>
						{% endfor %}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>	
	</div>
</div>
{% endblock container %}