{% extends "VoIPUIBasicBundle::layout.html.twig" %}
{% block title %}48 | {{ company.name }}{% endblock %}
{% block headertitle %}Dynamic Network{% endblock headertitle %}
{% block container %}
<table class="table table-hover">
	<tr>
		<th>IP</th>
		<th>Title</th>
		<th>Created at</th>
		<th>Updated at</th>
		<th>Actions</th>
	</tr>
	{% for ip in company.dynips %}
	<tr>
		<td>{{ ip.ip }}</td>
		<td>{{ ip.title }}</td>
		<td>{{ ip.createdat | date('d/m/Y H:i:s') }}</td>
		<td>{{ ip.updatedat | date('d/m/Y H:i:s') }}</td>
		<td>
			<a href="{{ path('ui_company_dynamic_removeip', {'hash': ip.hash}) }}"><span class="glyphicon glyphicon-trash"></span></a>
			<a href="{{ path('ui_company_dynamic_updateip', {'hash': ip.hash}) }}"><span class="glyphicon glyphicon-refresh"></span></a>
		</td>
	</tr>
	{% endfor %}
</table>
{% if ip %}<p>Your IP is already in the list</p>{% endif %}
<form class="form-inline" role="form" action="{{ path('ui_company_dynamic_addip') }}">
	<div class="form-group">
		<input type="text" name="title" class="form-control" id="inputTitle" placeholder="Enter title">
	</div>
	<div class="form-group">
		<input type="text" name="ip" class="form-control" id="inputIP" placeholder="IP you want to add" value="{{ ip }}">
	</div>
	<button type="submit" class="btn btn-info">Add my IP</button>
</form>
{% endblock container %}