{% extends "VoIPUIBasicBundle::layout.html.twig" %}
{% block title %}48 | {{ app.user.company.name }}{% endblock %}
{% block headertitle %}Mailbox{% endblock headertitle %}
{% block container %}
{{ parent() }}
<ul class="nav nav-tabs">
	<li class="active"><a href="{{ path('ui_company_mailbox') }}">Inbox</a></li>
	<li class=""><a href="{{ path('ui_company_mailbox') }}">Archive</a></li>
</ul>
{% if messages|length > 0 %}
<table class="table table-hover">
	<tr>
		<th>Date</th>
		<th>From</th>
		<th>Duration</th>
	</tr>
	{% for message in messages %}
	<tr class="message-row-{{ message.id }}">
		<td>{{ message.origtime }}</td>
		<td>{{ message.id }}</td>
		<td>{{ message.duration }}</td>
	</tr>
	{% endfor %}
</table>
<ul class="pager">
  {% if app.request.query.get('page') and app.request.query.get('page') != 1 %}<li class="previous"><a href="{{ path('ui_company_mailbox', {'page': app.request.query.get('page') - 1}) }}">&larr; Newer</a></li>{% endif %}
  {% if messages|length == 20 %}<li class="next"><a href="{{ path('ui_company_mailbox', {'page': app.request.query.get('page') ? app.request.query.get('page') + 1 : 2}) }}">Older &rarr;</a></li>{% endif %}
</ul>
{% else %}
<center>No voicemail for the moment</center>
{% endif %}

{% endblock container %}
{% block javascripts %}
{{ parent() }}
<script>
$('audio.message').bind('play', function(){
	var hash = $(this).data('hash');
	$.ajax({
		'url': '{{ path('ui_message_read', {'hash': 'tochange'}) }}'.replace('tochange', hash),
		'success': function(){
			$('.message-labelnew-'+hash).addClass('hidden');
			$('.message-unreadlink-'+hash).removeClass('hidden');
		}
	})
});	
</script>
{% endblock javascripts %}