{% extends "VoIPUIBasicBundle::layout.html.twig" %}
{% block title %}48 | {{ company.name }}{% endblock %}
{% block container %}
<table class="table table-hover">
	<tr>
		<th></th>
		<th>Date</th>
		<th>From</th>
		<th>Duration</th>
		<th>Message</th>
		<th></th>
		<th></th>
	</tr>
	{% for message in messages %}
	<tr class="message-row-{{ message.hash }}">
		<td>
			<span class="label label-info message-labelnew-{{ message.hash }} {{ message.readat ? 'hidden' }}">New</span>
		</td>
		<td>{{ message.createdat|date('d/m/Y H:i:s') }}</td>
		<td></td>
		<td></td>
		<td>
			<audio controls="controls" class="message" data-hash="{{ message.hash }}">
				Your browser does not support the <code>audio</code> element.
				<source src="https://s3-ap-southeast-1.amazonaws.com/fortyeight/vm/{{ message.filepath }}" type="audio/ogg">
			</audio>
		</td>
		<td>
			<a href="{{ path('ui_message_unread', {'hash': message.hash}) }}" class="message-unreadlink-{{ message.hash }} {{ not message.readat ? 'hidden' }}">mark as unread</a
		</td>
		<td>
			<a href="{{ path('ui_message_archive', {'hash': message.hash}) }}">archive</a>
		</td>
	</tr>
	{% endfor %}
</table>
<ul class="pager">
  {% if page != 1 %}<li class="previous"><a href="{{ path('ui_company_mailbox', {'page': page - 1}) }}">&larr; Newer</a></li>{% endif %}
  {% if messages|length == 20 %}<li class="next"><a href="{{ path('ui_company_mailbox', {'page': page + 1}) }}">Older &rarr;</a></li>{% endif %}
</ul>
{% endblock container %}
{% block javascripts %}
{{ parent() }}
<script>
$('audio.message').bind('play', function(){
	var hash = $(this).data('hash');
	$.ajax({
		'url': '{{ path('ui_message_read', {'hash': 'tochange'}) }}'.replace('tochange', hash),
		'success': function(){
			$('.message-labelnew-'+hash).addClass('hidden');
			$('.message-unreadlink-'+hash).removeClass('hidden');
		}
	})
});	
</script>
{% endblock javascripts %}