{% if app.user.company %}
<center class="company-part">
	<div class="company-image hidden-sm">
		<a href="{{ path('ui_company') }}"><img src="{% if company.imageurl %}{{ company.imageurl }}{% else %}https://s3-ap-southeast-1.amazonaws.com/fortyeight/companies/images/3a1225ee_256.png{% endif %}" alt="{{ company.name }}" class="img-circle"></a>
	</div>
	<div class="company-name">{{ company.name }}</div>
</center>
{# <center>
	<div class="btn-group btn-new">
		<a href="{{ path('ui_company_newemployee') }}" class="btn btn-danger btn-new-main">Add a Buddy</a>
		<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="{{ path('ui_company_newemployee') }}">Add a Buddy</a></li>
			<li><a href="{{ path('ui_company_newphone') }}">Add a Phone</a></li>
			<li class="divider"></li>
			<li><a href="{{ path('ui_company_newrequestnumber') }}">Request a phone number</a></li>
		</ul>
	</div>
</center> #}
<ul class="nav nav-pills nav-stacked">
	<li class="{{ app.request.attributes.get('_route') == 'ui_company' ? 'active' }}">
		<a href="{{ path('ui_company') }}">
			<span class="glyphicon glyphicon-th"></span>
			Switchboard
		</a>
	</li>
	<li class="{{ app.request.attributes.get('_route') == 'ui_company_mailbox' ? 'active' }}">
		<a href="{{ path('ui_company_mailbox') }}">
			<i class="glyphicon fa fa-envelope"></i>
			Mailbox
			{% if newmessages %}<span class="badge pull-right">{{ newmessages }}</span>{% endif %}
		</a>
	</li>
	<li class="{{ app.request.attributes.get('_route') == 'ui_company_cdr' ? 'active' }}">
		<a href="{{ path('ui_company_cdr') }}">
			<span class="glyphicon glyphicon-list"></span>
			Call details
		</a>
	</li>
	<li class="{{ (app.request.attributes.get('_route') == 'fos_user_change_password' or 'ui_company_parameters' in route) ? 'active' }}">
		<a href="{{ path('ui_company_parameters_info') }}">
			<span class="glyphicon glyphicon-cog"></span>
			Settings
		</a>
	</li>
	{# <li class="{{ route == 'ui_company_bill' ? 'active' }}"><a href="{{ path('ui_company_bill') }}"><span class="glyphicon glyphicon-usd"></span> My bill</a></li> #}
	<li class="{{ (app.request.attributes.get('_route') == 'ui_company_dynamic' or 'ui_company_dynamic' in route) ? 'active' }}">
		<a href="{{ path('ui_company_dynamic') }}">
			<i class="glyphicon fa fa-code-fork"></i>
			Network
		</a>
	</li>
</ul>
{% endif %}