<nav class="navbar navbar-default visible-xs" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path('ui_company') }}">{{ company.name }}</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="nav-company-name">{{ company.name }} &bull; S$ {{ company.credit|number_format(2, '.', ',') }}</li>
				<li><a href="{{ path('ui_company') }}">Switchboard</a></li>
				<li><a href="{{ path('ui_company_cdr') }}">Call details</a></li>
				<li><a href="{{ path('fos_user_change_password') }}">Parameters</a></li>
				<li><a href="{{ path('ui_company_bill') }}">My bill</a></li>
			</ul>
		</div>
	</div>
</nav>