{% extends '::base.html.twig' %}

{% block container -%}
<h1>Real Time Peers</h1>
<table class="table table-hover table-condensed">
    <tr>
        <th>Name</th>
        <th>Secret</th>
        <th>Context</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
    {% for entity in entities %}
    <tr>
        <td>{{ entity.name }}</td>
        <td>{{ entity.secret }}</td>
        <td>{{ entity.context }}</td>
        <td>{{ entity.type }}</td>
        <td>
			<a href="{{ path('sippeer_show', { 'id': entity.id }) }}">show</a>
			<a href="{{ path('sippeer_edit', { 'id': entity.id }) }}">edit</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock container %}
