{% extends '::base.html.twig' %}

{% block body -%}
    <h1>VoiceMessage</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Dir</th>
                <td>{{ entity.dir }}</td>
            </tr>
            <tr>
                <th>Msgnum</th>
                <td>{{ entity.msgnum }}</td>
            </tr>
            <tr>
                <th>Recording</th>
                <td>{{ entity.recording }}</td>
            </tr>
            <tr>
                <th>Context</th>
                <td>{{ entity.context }}</td>
            </tr>
            <tr>
                <th>Macrocontext</th>
                <td>{{ entity.macrocontext }}</td>
            </tr>
            <tr>
                <th>Callerid</th>
                <td>{{ entity.callerid }}</td>
            </tr>
            <tr>
                <th>Origtime</th>
                <td>{{ entity.origtime }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ entity.duration }}</td>
            </tr>
            <tr>
                <th>Mailboxuser</th>
                <td>{{ entity.mailboxuser }}</td>
            </tr>
            <tr>
                <th>Mailboxcontext</th>
                <td>{{ entity.mailboxcontext }}</td>
            </tr>
            <tr>
                <th>Messagelabel</th>
                <td>{{ entity.messageLabel }}</td>
            </tr>
            <tr>
                <th>Isread</th>
                <td>{{ entity.isRead }}</td>
            </tr>
            <tr>
                <th>Flag</th>
                <td>{{ entity.flag }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('voicemessage') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('voicemessage_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
