{% extends '::admin.html.twig' %}
{% block container %}
<table class="table">
	<tr>
		<th>Hash</th>
		<th>Date</th>
		<th>Name</th>
		<th>DID</th>
		<th>Company</th>
	</tr>
	{% for subscription in subscriptions %}
		<tr>
			<td>{{ subscription.hash }}</td>
			<td>{{ subscription.createdat | date('d/m/Y') }}</td>
			<td>{{ subscription.name }}</td>
			<td>{{ subscription.did }}</td>
			<td>{{ subscription.company.name }}</td>
		</tr>
	{% endfor %}
	
</table>
{% endblock %}
